<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MySql.Data" version="6.10.6" targetFramework="monoandroid80" />
  <package id="Plugin.CurrentActivity" version="1.0.1" targetFramework="monoandroid80" />
  <package id="Plugin.Permissions" version="2.2.1" targetFramework="monoandroid80" />
  <package id="System.Configuration.ConfigurationManager" version="4.4.0" targetFramework="monoandroid80" />
  <package id="System.Data.SqlClient" version="4.4.3" targetFramework="monoandroid80" />
  <package id="System.Security.AccessControl" version="4.4.0" targetFramework="monoandroid80" />
  <package id="System.Security.Permissions" version="4.4.0" targetFramework="monoandroid80" />
  <package id="System.Security.Principal.Windows" version="4.4.0" targetFramework="monoandroid80" />
  <package id="System.Text.Encoding.CodePages" version="4.0.1" targetFramework="monoandroid80" />
  <package id="Xam.Plugin.Geolocator" version="4.2.0" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Annotations" version="25.4.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Compat" version="25.4.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Core.Utils" version="25.4.0.2" targetFramework="monoandroid80" />
</packages>